### **Data Science Project Introduction: Air Quality Analysis in Madrid**

#### **Problem Statement:** 
The project aims to conduct an extensive analysis of air quality in Madrid using a dataset collected from the Escuelas Aguirre air quality station. The primary focus is to understand the trends, patterns, and potential correlations among various pollutants in the atmosphere.

#### **Objectives:** 
1. **Comprehensive Analysis:** To analyze and interpret the hourly air quality data collected from January 2001 to March 2022.
2. **Insight Generation:** To derive valuable insights regarding the levels of different pollutants present in Madrid's atmosphere over two decades.
3. **Modeling and Visualization:** To employ data science techniques to model pollutant levels and create meaningful visualizations that aid in understanding the air quality dynamics.

#### **About Dataset:**
- **Description:** 172,622 rows of data from the Escuelas Aguirre air quality station, Madrid. The data span from January 2001 to March 2022 and include the following variables:
  - BEN Benzene (µg/m³)
  - CH4 Methane (mg/m³)
  - CO Carbon monoxide (mg/m³)
  - EBE Ethylbenzene (µg/m³)
  - NMHC Non-methane hydrocarbons (mg/m³) 
  - NO Nitrogen monoxide (µg/m³)
  - NO2 Nitrogen dioxide (µg/m³)
  - NOx Nitrogen oxides (µg/m³)
  - O3 Ozone (µg/m³)
  - PM10 Particles < 10 µm (µg/m³)
  - PM25 Particles < 2.5 µm (µg/m³) 
  - SO2 Sulfur dioxide (µg/m³)
  - TCH Total hydrocarbons (mg/m³)
  - TOL Toluene (µg/m³)
- **Context:** This dataset represents a comprehensive hourly record of pollution levels in Madrid.

#### **Team Members:**
- Turki Alkazman - (220010077)
- Turki Alqou - (220011703)

#### **Context and Insights Aimed:**
- Contextualizing variations in pollutant levels over a 21-year period.
- Identifying potential correlations between different pollutants.
- Exploring seasonal patterns and their impact on air quality.
- Uncovering long-term trends to better comprehend Madrid's environmental conditions.
- Employing machine learning techniques to model and predict pollutant levels, if applicable and beneficial for the analysis.

In [150]:
#install required packages

In [151]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("MadridPolution2001-2022.csv")

df.shape

(172622, 15)

In [152]:
df.head(10)

,Time,BEN,CH4,CO,EBE,NMHC,NO,NO2,NOx,O3,PM10,PM25,SO2,TCH,TOL
0,2001-01-01 00:00:00+00:00,4.0,NaN,0.0,2.0,NaN,66.0,67.0,168.0,7.0,32.0,NaN,26.0,NaN,11.0
1,2001-01-01 01:00:00+00:00,9.0,NaN,0.0,5.0,NaN,146.0,71.0,294.0,7.0,41.0,NaN,21.0,NaN,21.0
2,2001-01-01 02:00:00+00:00,9.0,NaN,0.0,5.0,NaN,190.0,73.0,364.0,7.0,50.0,NaN,22.0,NaN,24.0
3,2001-01-01 03:00:00+00:00,10.0,NaN,0.0,5.0,NaN,170.0,75.0,335.0,7.0,55.0,NaN,19.0,NaN,25.0
4,2001-01-01 04:00:00+00:00,8.0,NaN,0.0,4.0,NaN,102.0,67.0,224.0,8.0,42.0,NaN,14.0,NaN,21.0
5,2001-01-01 05:00:00+00:00,3.0,NaN,1.0,2.0,NaN,63.0,60.0,157.0,8.0,21.0,NaN,10.0,NaN,10.0
6,2001-01-01 06:00:00+00:00,2.0,NaN,0.0,1.0,NaN,28.0,47.0,90.0,17.0,14.0,NaN,8.0,NaN,6.0
7,2001-01-01 07:00:00+00:00,2.0,NaN,1.0,1.0,NaN,33.0,43.0,93.0,21.0,13.0,NaN,8.0,NaN,6.0
8,2001-01-01 08:00:00+00:00,2.0,NaN,1.0,1.0,NaN,36.0,49.0,105.0,20.0,17.0,NaN,8.0,NaN,6.0
9,2001-01-01 09:00:00+00:00,2.0,NaN,1.0,1.0,NaN,25.0,43.0,82.0,24.0,15.0,NaN,7.0,NaN,5.0

In [153]:
df.tail(10)

,Time,BEN,CH4,CO,EBE,NMHC,NO,NO2,NOx,O3,PM10,PM25,SO2,TCH,TOL
172612,2022-03-31 14:00:00+00:00,0.0,NaN,0.0,0.0,NaN,9.0,27.0,40.0,58.0,21.0,13.0,4.0,NaN,2.0
172613,2022-03-31 15:00:00+00:00,0.0,NaN,0.0,0.0,NaN,7.0,22.0,33.0,57.0,24.0,16.0,4.0,NaN,1.0
172614,2022-03-31 16:00:00+00:00,0.0,NaN,0.0,0.0,NaN,6.0,21.0,30.0,57.0,5.0,2.0,4.0,NaN,2.0
172615,2022-03-31 17:00:00+00:00,0.0,NaN,0.0,0.0,NaN,11.0,34.0,52.0,40.0,13.0,9.0,4.0,NaN,3.0
172616,2022-03-31 18:00:00+00:00,0.0,NaN,0.0,0.0,NaN,13.0,35.0,54.0,35.0,6.0,4.0,4.0,NaN,2.0
172617,2022-03-31 19:00:00+00:00,0.0,NaN,0.0,0.0,NaN,12.0,43.0,62.0,20.0,2.0,1.0,4.0,NaN,2.0
172618,2022-03-31 20:00:00+00:00,0.0,NaN,0.0,0.0,NaN,7.0,43.0,54.0,20.0,2.0,1.0,4.0,NaN,2.0
172619,2022-03-31 21:00:00+00:00,0.0,NaN,0.0,0.0,NaN,4.0,32.0,39.0,29.0,7.0,5.0,4.0,NaN,1.0
172620,2022-03-31 22:00:00+00:00,0.0,NaN,0.0,0.0,NaN,5.0,32.0,40.0,25.0,7.0,3.0,4.0,NaN,1.0
172621,2022-03-31 23:00:00+00:00,0.0,NaN,0.0,0.0,NaN,4.0,30.0,36.0,25.0,2.0,1.0,4.0,NaN,1.0

In [154]:
df.describe()

,BEN,CH4,CO,EBE,NMHC,NO,NO2,NOx,O3,PM10,PM25,SO2,TCH,TOL
count,164850.000000,140053.000000,172187.000000,164787.000000,139973.000000,171916.000000,171922.000000,171918.000000,170897.000000,168229.000000,106052.000000,171855.000000,140051.000000,164483.000000
mean,0.457295,1.000450,0.086034,0.757311,0.002208,40.855109,58.262340,120.906624,37.205088,26.801937,11.833091,9.924547,1.038422,4.283847
std,1.421051,0.160304,0.340024,1.400775,0.063157,62.581025,32.161441,121.134160,27.777307,23.401042,8.792781,8.281144,0.211390,5.897935
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,5.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,7.000000,35.000000,49.000000,13.000000,12.000000,6.000000,5.000000,1.000000,1.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,20.000000,54.000000,86.000000,33.000000,20.000000,10.000000,8.000000,1.000000,3.000000
75%,0.000000,1.000000,0.000000,1.000000,0.000000,47.250000,75.000000,149.000000,55.000000,34.000000,15.000000,12.000000,1.000000,5.000000
max,43.000000,4.000000,10.000000,81.000000,9.000000,1041.000000,402.000000,1910.000000,199.000000,367.000000,215.000000,158.000000,10.000000,174.000000

In [155]:
# describe the dataset and check for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172622 entries, 0 to 172621
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    172622 non-null  object
 1   BEN     164850 non-null  float64
 2   CH4     140053 non-null  float64
 3   CO      172187 non-null  float64
 4   EBE     164787 non-null  float64
 5   NMHC    139973 non-null  float64
 6   NO      171916 non-null  float64
 7   NO2     171922 non-null  float64
 8   NOx     171918 non-null  float64
 9   O3      170897 non-null  float64
 10  PM10    168229 non-null  float64
 11  PM25    106052 non-null  float64
 12  SO2     171855 non-null  float64
 13  TCH     140051 non-null  float64
 14  TOL     164483 non-null  float64
dtypes: float64(14), object(1)
memory usage: 19.8+ MB

In [156]:
# check for missing values
df.isnull().sum()

Time        0
BEN      7772
CH4     32569
CO        435
EBE      7835
NMHC    32649
NO        706
NO2       700
NOx       704
O3       1725
PM10     4393
PM25    66570
SO2       767
TCH     32571
TOL      8139
dtype: int64

In [157]:
# find outlist of columns with missing values
df.columns[df.isnull().any()]

# find out the percentage of missing values in each column
df.isnull().sum()/df.shape[0]*100

Time     0.000000
BEN      4.502323
CH4     18.867236
CO       0.251996
EBE      4.538819
NMHC    18.913580
NO       0.408986
NO2      0.405510
NOx      0.407828
O3       0.999293
PM10     2.544867
PM25    38.564030
SO2      0.444323
TCH     18.868395
TOL      4.714926
dtype: float64

In [158]:
# find outliers in the dataset
df.boxplot(column=['BEN', 'CH4', 'CO', 'EBE', 'NMHC','NO','NO2','NOx','O3','PM10','PM25','SO2','TCH','TOL'],figsize=(10,10))
df['Time'] = pd.to_datetime(df['Time'])

# find out the distribution of different variables
df.hist(figsize=(10,10))

array([[<Axes: title={'center': 'Time'}>,
        <Axes: title={'center': 'BEN'}>, <Axes: title={'center': 'CH4'}>,
        <Axes: title={'center': 'CO'}>],
       [<Axes: title={'center': 'EBE'}>,
        <Axes: title={'center': 'NMHC'}>, <Axes: title={'center': 'NO'}>,
        <Axes: title={'center': 'NO2'}>],
       [<Axes: title={'center': 'NOx'}>, <Axes: title={'center': 'O3'}>,
        <Axes: title={'center': 'PM10'}>,
        <Axes: title={'center': 'PM25'}>],
       [<Axes: title={'center': 'SO2'}>, <Axes: title={'center': 'TCH'}>,
        <Axes: title={'center': 'TOL'}>, <Axes: >]], dtype=object)

In [159]:
# label number of missing values in a dict 
dict = {
    'BEN':df['BEN'].isnull().sum(),
    'CH4':df['CH4'].isnull().sum(),
    'CO':df['CO'].isnull().sum(),
    'EBE':df['EBE'].isnull().sum(),
    'NMHC':df['NMHC'].isnull().sum(),
    'NO':df['NO'].isnull().sum(),
    'NO2':df['NO2'].isnull().sum(),
    'NOx':df['NOx'].isnull().sum(),
    'O3':df['O3'].isnull().sum(),
    'PM10':df['PM10'].isnull().sum(),
    'PM25':df['PM25'].isnull().sum(),
    'SO2':df['SO2'].isnull().sum(),
    'TCH':df['TCH'].isnull().sum(),
    'TOL':df['TOL'].isnull().sum()
}

In [160]:
# make a copy of the dataset
df1 = df.copy()

In [161]:
# fill missing values with Next or Previous Value with the lowest number of missing values
for i in dict:
    if dict[i] <= 5000:
        # fill missing values with Next Value
        df1[i].fillna(method='bfill', inplace=True)
        # fill missing values with Previous Value
        df1[i].fillna(method='ffill', inplace=True)
df1.isnull().sum()

C:\Users\Turki\AppData\Local\Temp\ipykernel_10544\607668435.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1[i].fillna(method='bfill', inplace=True)
C:\Users\Turki\AppData\Local\Temp\ipykernel_10544\607668435.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1[i].fillna(method='ffill', inplace=True)

Time        0
BEN      7772
CH4     32569
CO          0
EBE      7835
NMHC    32649
NO          0
NO2         0
NOx         0
O3          0
PM10        0
PM25    66570
SO2         0
TCH     32571
TOL      8139
dtype: int64

In [162]:
# K Nearest Neighbors Imputation with CH4, NMHC, PM25 and TCH coulmns and round the values to int
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=15)
columns_to_impute = ['BEN','EBE','TOL']
df1[columns_to_impute] = imputer.fit_transform(df1[columns_to_impute])
df1['BEN'] = df1['BEN'].round().astype(int)
df1['EBE'] = df1['EBE'].round().astype(int)
df1['TOL'] = df1['TOL'].round().astype(int)
df1.isnull().sum()

Time        0
BEN         0
CH4     32569
CO          0
EBE         0
NMHC    32649
NO          0
NO2         0
NOx         0
O3          0
PM10        0
PM25    66570
SO2         0
TCH     32571
TOL         0
dtype: int64

In [163]:
# Missing Value Prediction with Iterative Imputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer()
df1[['CH4','NMHC','PM25','TCH']] = imputer.fit_transform(df1[['CH4','NMHC','PM25','TCH']])
df1.isnull().sum()

Time    0
BEN     0
CH4     0
CO      0
EBE     0
NMHC    0
NO      0
NO2     0
NOx     0
O3      0
PM10    0
PM25    0
SO2     0
TCH     0
TOL     0
dtype: int64

In [164]:
# drop rows with missing values
df1.dropna(inplace=True)
df1.isnull().sum()

Time    0
BEN     0
CH4     0
CO      0
EBE     0
NMHC    0
NO      0
NO2     0
NOx     0
O3      0
PM10    0
PM25    0
SO2     0
TCH     0
TOL     0
dtype: int64

In [165]:
# save the cleaned dataset
df1.to_csv('MadridPolution2001-2022_cleaned.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'MadridPolution2001-2022_cleaned.csv'